{{#each posts as |post|}}
  <div class="col-8 post-border mt-5 ">
    <div class="row post-border bg-dark-red">
      <a class="nav-buttons col-6 text-start text-gray fs-2" href="/editPost/{{ post.id }}">{{ post.name }}</a>
      <h4 class="col-6 text-end text-gray">Posted by {{ post.posted_by }} on {{ format_date post.date_created }}</h4>
    </div>
    <div>
      <p class="fs-4">{{ post.post_text }}</p>
    </div>
  </div>
  {{/each}}


  